<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>How do I use Beartooth?</summary>
          <p>Beartooth pairs via Bluetooth with your smartphone</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How do I Purchase?</summary>
          <p>Just pre-order now and we will start shipping late 2016</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What freqency does Beartooth use?</summary>
          <p>Beartooth uses a 900 MHz Digital Transciever (US Spec: 902 MHz - 928 MHz)</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Where is the antenna?</summary>
          <p>Due to our very senstive -148 dBm transciver, Beartooth can use a discrete internal antenna.
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Is Beartooth Waterproof?</summary>
          <p>Beeartooth is weather resistant, a splash of water or dust will be fine, but please dont drop Beartooth in a stream or mud bog!</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Why did you release this?</summary>
          <p>We needed an awesome tool to find the best powder, dance with our friends at Coachella, and hike to the perfect sunset</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>What operating system does Beartooth use?</summary>
          <p>Beartooth uses iOs and Android</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>Can Beartooth mesh?</summary>
          <p>Beartooth meshes with your group for extended range</p>
          </p>
        </details>
      </li>
    </ul>
  </div>
</div>
