<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is Beartooth?
      </h3>
      <p>
        Beartooth is the worlds first smartphone enabled two way communication device.  Get the privacy, saftey, and security of a tactical radio, with the intuitive user interface and computing power of your favorite smartphone.  Crystal clear voice, Security of Aes 256 Encryption, Rugged Design.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How do I use it?
      </h3>
      <p>
        Beartooth requires no set up.  Just down load the app from the Apple store or Google play, push the pairning button, and Beartooth does the rest!
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        What makes Beartooth special
      </h3>
      <p>
        We are the first all digital radio to incoroprate LoRa transmission for extra long range.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Join the Beartooth community
      </h3>
      <p>
        Thousands have alread bought a Beartooth. take advantage of this limited time offer to enjoy the same worry free communication.
      <p>
    </div>
  </div>
</div>
