<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>Clear Digital Voice</h4>
      <p>Clear digital voice with a 8,000 bps sample rate.  Our voice quality exceeds a cell phone.  And, your conversation remain private thanks to our AES 256 encryption</p>
    </li>
    <li id="section-2">
      <h4>Text Messaging</h4>
      <p>Send a message to your closest friend, or all of your friends.  Beartooth enables delivery confirmations and read reciepts.  With throughput of up to 100,000 bps, you can send your most important messsages in an instant.</p>
    </li>
    <li id="section-3">
      <h4>Mapping & Geolocation</h4>
      <p>Detailed offline maps that allow you to find your friends on a map.  Easy to use, either pre-cache maps before your trip, or let Beartooth's smart caching work seemlessly in the background.  See your freinds as pins on a map.</p>
    </li>
    <li id="section-4">
      <h4>Backup Battery</h4>
      <p>Never worry about a dead or dying battery.  With Beartooth's 3000 mAh lithium battery,  you can fully recharge an iPhone 6 and still have enough juice to use your Beartooth on an all weekend adventure</p>
    </li>
  </ul>
</div>
